{% extends 'base.html' %}

{% load static %}

{% block content %}
<!DOCTYPE html>

<html lang="en">

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="{% static 'https://fonts.googleapis.com/css?family=Poppins' %}" rel="stylesheet" />
    <link href="{% static 'css/main.css' %}" rel="stylesheet" />

</head>
<body>
    <div class="s01">
        <form action="result_page">
            <fieldset>
                <legend>SmartShopper</legend>
            </fieldset>
            <div class="inner-form">
                <div class="input-field first-wrap">
                    <input id="search" type="text" name="psearch" placeholder="Type in a product to find its cheapeast price" />
                </div>
                <div class="input-field second-wrap">
                    <input id="location" type="text" name="plocation" placeholder="location" />
                </div>
                <div class="input-field third-wrap">
                    <button class="btn-search" type="submit">Search</button>
                </div>
            </div>
        </form>
    </div>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>
    {% endblock %}
